:host {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex: 1; /* Take the remaining space for the content */
    padding: 16px; /* Add padding for some breathing room */
    overflow-y: auto; /* Allow content to scroll if necessary */
  }
  