.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 220px;
}

.sidenav {
  width: 220px;
  background-color: #1e88e5;
  color: white;
  position: relative;
}

.mat-toolbar {
  background-color: inherit;
  color: white;
}

.mat-nav-list a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.mat-icon {
  margin-right: 12px;
  margin-bottom: 2px;
  font-size: 24px;
  vertical-align: middle;
  color: white;
}

span {
  color: white;
}

.mat-nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}